## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
df1 = pd.read_csv('Datasets/gasolina_2010+.csv')
df1

c:\Users\mathe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [4]:
df2 = pd.read_csv('Datasets/gasolina_2000+.csv')
df2

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
42634,52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
42635,52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
42636,52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
42637,52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [5]:
df3 = pd.concat([df1, df2])
df3

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
42634,52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
42635,52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
42636,52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
42637,52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 42637
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [7]:
df3['DATA INICIAL'][2]

2    2011-01-02
2    2004-05-09
Name: DATA INICIAL, dtype: object

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [8]:
df3['DATA INICIAL'] = pd.to_datetime(df3['DATA INICIAL'])
df3['DATA FINAL'] = pd.to_datetime(df3['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [9]:
df3['anomes'] = df3['DATA FINAL'].apply(lambda x: f"{x.year}") + df3['DATA FINAL'].apply(lambda x: f'/{x.month:02d}')
df3['anomes']

0        2011/01
1        2011/01
2        2011/01
3        2011/01
4        2011/01
          ...
42633    2011/01
42634    2011/01
42635    2011/01
42636    2011/01
42637    2011/01
Name: anomes, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [10]:
df3.value_counts('PRODUTO')

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [11]:
df_gasolina = df3[df3['PRODUTO'] == 'GASOLINA COMUM']
df_gasolina

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,anomes
2808,21324,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,80,R$/l,2.774,0.017,2.740,2.790,0.349,0.006,2.425,0.005,2.421,2.431,0.002,2011/01
2809,21325,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,GASOLINA COMUM,255,R$/l,2.686,0.066,2.490,2.820,0.369,0.025,2.317,0.037,2.24,2.4077,0.016,2011/01
2810,21326,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,139,R$/l,2.806,0.125,2.650,3.330,0.433,0.045,2.373,0.088,2.035,2.55,0.037,2011/01
2811,21327,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,132,R$/l,2.678,0.129,2.499,2.999,0.336,0.048,2.342,0.052,2.252,2.4707,0.022,2011/01
2812,21328,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,GASOLINA COMUM,98,R$/l,2.805,0.085,2.590,2.886,0.491,0.030,2.314,0.035,2.2331,2.3769,0.015,2011/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18511,21319,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,739,R$/l,2.669,0.116,2.399,3.249,0.295,0.043,2.374,0.055,2.271,2.5426,0.023,2011/01
18512,21320,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,GASOLINA COMUM,2380,R$/l,2.510,0.096,2.199,2.999,0.335,0.038,2.175,0.061,1.9308,2.345,0.028,2011/01
18513,21321,2010-12-26,2011-01-01,SUL,PARANA,GASOLINA COMUM,567,R$/l,2.588,0.103,2.359,2.900,0.298,0.040,2.29,0.057,2.137,2.493,0.025,2011/01
18514,21322,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,607,R$/l,2.611,0.106,2.429,2.900,0.341,0.041,2.27,0.054,2.1499,2.5753,0.024,2011/01
18515,21323,2010-12-26,2011-01-01,SUL,SANTA CATARINA,GASOLINA COMUM,384,R$/l,2.648,0.087,2.290,2.829,0.375,0.033,2.273,0.046,2.127,2.3916,0.02,2011/01

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [12]:
df_gasolina[df_gasolina['anomes'] == '2008/08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444447

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [13]:
df_gasolina[(df_gasolina['anomes'] == '2014/05') & (df_gasolina['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [14]:
df_gasolina[df_gasolina['PREÇO MÉDIO REVENDA'] > 5][['ESTADO', 'anomes', 'PREÇO MÉDIO REVENDA']]

               ESTADO   anomes  PREÇO MÉDIO REVENDA
55563            ACRE  2018/05                5.053
55709            ACRE  2018/06                5.035
55855            ACRE  2018/06                5.038
55873  RIO DE JANEIRO  2018/06                5.016
56008            ACRE  2018/06                5.031
...               ...      ...                  ...
78083         RORAIMA  2021/05                5.364
78084  SANTA CATARINA  2021/05                5.051
78085       SAO PAULO  2021/05                5.265
78086         SERGIPE  2021/05                5.586
78087       TOCANTINS  2021/05                5.751

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [28]:
df_2012 = df_gasolina[df_gasolina['DATA FINAL'].apply(lambda x: x.year) == 2012]


df_2012[df_2012['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [39]:
df_gasolina['ano'] = df_gasolina['DATA FINAL'].apply(lambda x: x.year)
df_gasolina['mes'] = df_gasolina['DATA FINAL'].apply(lambda x: x.month)

df_rio = df_gasolina[df_gasolina['ESTADO'] == 'RIO DE JANEIRO']

df_rio_mes = df_rio.groupby('anomes')[['PREÇO MÉDIO REVENDA', 'mes']].last()

C:\Users\mathe\AppData\Local\Temp/ipykernel_9260/2104515975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina['ano'] = df_gasolina['DATA FINAL'].apply(lambda x: x.year)
C:\Users\mathe\AppData\Local\Temp/ipykernel_9260/2104515975.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gasolina['mes'] = df_gasolina['DATA FINAL'].apply(lambda x: x.month)

In [41]:
(df_rio_mes[df_rio_mes['mes'] == 12] / df_rio_mes[df_rio_mes['mes'] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  mes
anomes
2004/12                  NaN  NaN
2005/12             9.233449  0.0
2006/12             0.917065  0.0
2007/12             0.355591  0.0
2008/12             0.984252  0.0
2009/12             1.637427  0.0
2010/12             2.032988  0.0
2011/12             7.105263  0.0
2012/12             0.982801  0.0
2013/12             6.777894  0.0
2014/12             4.361979  0.0
2015/12            20.461634  0.0
2016/12             3.625065  0.0
2017/12            13.643178  0.0
2018/12             5.804749  0.0
2019/12             3.802993  0.0
2020/12            -1.321321  0.0

In [42]:
((df_rio_mes[df_rio_mes['mes'] == 12] / df_rio_mes[df_rio_mes['mes'] == 12].shift(1) - 1) * 100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  mes
anomes
2004/12                  NaN  NaN
2005/12                  NaN  NaN
2006/12                  NaN  NaN
2007/12            10.506106  0.0
2008/12             2.256908  0.0
2009/12             2.977270  0.0
2010/12             4.654667  0.0
2011/12            10.775678  0.0
2012/12            10.121052  0.0
2013/12            14.865958  0.0
2014/12            12.122674  0.0
2015/12            31.601507  0.0
2016/12            28.448678  0.0
2017/12            37.729878  0.0
2018/12            23.072992  0.0
2019/12            23.250920  0.0
2020/12             8.286421  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [95]:
df_max = df_gasolina.groupby('anomes').max()['PREÇO MÉDIO REVENDA']
df_min = df_gasolina.groupby('anomes').min()['PREÇO MÉDIO REVENDA']

In [96]:
df_max

anomes
2004/05    2.438
2004/06    2.496
2004/07    2.545
2004/08    2.560
2004/09    2.570
           ...
2021/01    5.213
2021/02    5.809
2021/03    6.688
2021/04    6.227
2021/05    6.258
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [97]:
df_diff = pd.DataFrame()

In [98]:
df_diff['abs_diff'] = df_max - df_min
df_diff['percent_diff'] = (df_max - df_min) / df_min * 100

In [99]:
idx_max = df_gasolina.groupby('anomes')['PREÇO MÉDIO REVENDA'].idxmax()
idx_min = df_gasolina.groupby('anomes')['PREÇO MÉDIO REVENDA'].idxmin()

In [124]:
idx_max['2013/06']

16394

In [101]:
df_diff['max'] = df_max
df_diff['min'] = df_max

In [102]:
df_diff

         abs_diff  percent_diff    max    min
anomes
2004/05     0.550     29.131356  2.438  2.438
2004/06     0.584     30.543933  2.496  2.496
2004/07     0.609     31.456612  2.545  2.545
2004/08     0.530     26.108374  2.560  2.560
2004/09     0.539     26.538651  2.570  2.570
...           ...           ...    ...    ...
2021/01     1.383     36.109661  5.213  5.213
2021/02     1.688     40.960932  5.809  5.809
2021/03     2.109     46.058091  6.688  6.688
2021/04     1.450     30.353779  6.227  6.227
2021/05     1.391     28.580234  6.258  6.258

[204 rows x 4 columns]

In [143]:
df_diff['ESTADO_MAX'] = df_gasolina.loc[idx_max, :][['ESTADO', 'anomes']].groupby('anomes').last()
df_diff['ESTADO_MIN'] = df_gasolina.loc[idx_min, :][['ESTADO', 'anomes']].groupby('anomes').last()

In [144]:
df_diff

         abs_diff  percent_diff    max    min   ESTADO_MAX        ESTADO_MIN
anomes
2004/05     0.550     29.131356  2.438  2.438         ACRE         SAO PAULO
2004/06     0.584     30.543933  2.496  2.496  MATO GROSSO         SAO PAULO
2004/07     0.609     31.456612  2.545  2.545         ACRE  DISTRITO FEDERAL
2004/08     0.530     26.108374  2.560  2.560  MATO GROSSO         SAO PAULO
2004/09     0.539     26.538651  2.570  2.570         ACRE         SAO PAULO
...           ...           ...    ...    ...          ...               ...
2021/01     1.383     36.109661  5.213  5.213         ACRE             AMAPA
2021/02     1.688     40.960932  5.809  5.809         ACRE             AMAPA
2021/03     2.109     46.058091  6.688  6.688         ACRE             AMAPA
2021/04     1.450     30.353779  6.227  6.227         ACRE             AMAPA
2021/05     1.391     28.580234  6.258  6.258         ACRE             AMAPA

[204 rows x 6 columns]